---

---
<h1>Ortica as a Heading </h1>
<p class="font--2">Geist as the Body, hello</p>
<h2>Another one for Ortica </h2>
<p class="font--1">Put some random text here for convience<br>
geist, The quick brown fox jumps over the lazy dog.</p>
<h3>Ortica H2 for the next head!!</h3>
<p>Reprehenderit id incididunt dolore in veniam consequat et ullamco. Ex quis occaecat quis dolor mollit elit non. Aliquip et velit exercitation labore sunt anim Lorem aliquip dolore adipisicing magna. Aliqua ullamco enim qui proident aliquip in. Esse nisi non aute esse incididunt nisi in. Occaecat velit laborum cupidatat amet est quis deserunt excepteur cupidatat Lorem ea.<br>

Sint eiusmod occaecat sint est mollit dolore laborum excepteur et cillum in sunt ipsum. Consequat officia proident consequat laborum non proident aliqua non culpa. Dolor commodo in officia id veniam irure excepteur incididunt qui adipisicing excepteur. Tempor sunt ullamco aute quis.<br>

Amet cupidatat commodo reprehenderit magna fugiat. Commodo magna tempor commodo aliquip quis cillum duis excepteur nisi magna velit. Incididunt et id veniam amet incididunt minim reprehenderit Lorem consectetur aute voluptate nulla. Velit do ea proident consectetur dolore reprehenderit cupidatat veniam sit cupidatat.<br>

Labore minim commodo laboris in non labore. Ad id ex culpa consequat in exercitation labore pariatur dolore officia. Sunt elit pariatur irure adipisicing ipsum. Incididunt et non consequat nisi mollit consequat tempor minim ea esse. Et fugiat ipsum nisi officia excepteur proident culpa enim minim occaecat qui sint.<br>

Adipisicing laborum culpa voluptate commodo incididunt labore anim. Cupidatat dolor voluptate consequat non reprehenderit veniam ex laborum culpa velit aliquip qui proident cupidatat. Dolor qui mollit minim non ut laboris non aliquip eu culpa ad mollit nostrud.<br>

Excepteur culpa cillum elit enim sunt velit ullamco minim. Id sint eiusmod reprehenderit in consectetur quis ea dolore labore incididunt ullamco incididunt minim in. Anim eiusmod aute magna ut aliquip ea magna in.<br>

Veniam reprehenderit aliqua laborum nisi. Ullamco eiusmod exercitation aliquip veniam aliquip sint minim deserunt. Exercitation sunt ea mollit id aliquip aliquip aute in tempor. Ad ad nulla ea exercitation do ex cupidatat qui enim. Dolor excepteur officia magna esse adipisicing ut. Reprehenderit nulla aliqua et dolor.

Duis in dolor mollit nulla sunt do anim esse. Incididunt magna Lorem pariatur deserunt in ea in fugiat fugiat. Et id veniam irure ea Lorem aliquip ipsum eiusmod officia. Tempor ex do aliqua labore ut aute officia incididunt duis duis in. Anim voluptate excepteur velit consequat aute enim laboris enim ullamco. Do excepteur deserunt velit cupidatat commodo tempor. Voluptate ex amet tempor cillum.<br>

Ea cupidatat pariatur velit Lorem ea eu cillum anim sit do enim nisi duis. Velit aliquip non minim velit amet id magna. Id eu commodo quis mollit ex et irure tempor non deserunt consequat ullamco sint. Voluptate occaecat tempor fugiat tempor.<br>

Minim proident aliquip minim elit Lorem. Cupidatat magna pariatur magna aliquip officia deserunt. Cillum velit id duis ullamco deserunt irure magna consequat. In do nisi consectetur et anim sunt voluptate incididunt nisi esse sint in Lorem. Laborum cupidatat ipsum eiusmod ipsum.</p>

<style>
    h1 {
	margin: 0px;
	padding: 0px;
	font-family: ortica;
	font-size: var(--font-3);
	background: linear-gradient(
	    to right,
	    HSL(102, 54%, 34%),
	    HSL(57, 100%, 80%)
	);
	background-clip: text;
	-webkit-text-fill-color: transparent;
    }
    h2 {
	margin: 0px;
	padding: 0px;
	font-family: ortica;
	font-size: var(--font-2);
	background: radial-gradient(
	    circle at 25%,
	    HSL(65, 63%, 62%),
	    HSL(102, 54%, 34%)
	    );
	    background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
    h3 {
	margin: 0px;
	padding: 0px;
	font-family: ortica;
	font-size: var(--font-1);
	background-color: red;
	background-clip: text;
	-webkit-text-fill-color: transparent;
    }
    p {
	margin: 0px;
	padding: 0px;
	font-family: geistV;
	font-size: var(--font-p);
	text-indent: 0.5in;

	.font--2 {
	    font-size: var(--font--2);
	}
	.font--1 {
	    font-size: var(--font--1);
	}
    }
</style>
