---

---
<div>
    <span class="stem">S</span>
    <span class="stem">T</span>
    <span class="stem">E</span>
    <span class="stem">M</span>
    <span class="pedia">p</span>
    <span class="pedia">e</span>
    <span class="pedia">d</span>
    <span class="pedia">i</span>
    <span class="pedia">a</span>
</div>

<style>
    div {
	display: flex;
	align-items: center;
	.stem {
	    padding: 2px;
	    font-size: var(--font-1);
	    background: var(--color-pistachio);
	}
	.pedia {
	    font-size: var(--font-p);
	    background: var(--color-beigeo);
	}
    }
</style>
