---
import { Image } from "astro:assets"

import HeaderLogo from "./HeaderLogo.astro";
import NavMenu from "./NavMenu.astro";

import Homepage from "../../pages/index.astro";
---

<nav>
    <NavMenu />
    <HeaderLogo/>
</nav>


<style>
    nav {
	display: flex;
	height: var(--space-xl);
	background-color: var(--color-oliveDrab);
    }
</style>
