---

---

<nav>
    <img src="../assets/rectangle-list.svg" type="image/svg+xml" width=10px height=10px />

</nav>


<style>
    nav {
	display: flex;
	height: clamp(32px, 1em, 42em);
	background-color: red;
    }
</style>
