---

---

<html lang="en">
<head>
	<meta name="generator" content={Astro.generator} />
	<meta charset="UTF-8" />
	<title>STEMpedia: A wiki dedicated for the S.T.E.M. fields.</title>
	<link rel="icon" type="image/svg+xml" href="/STEMpedia-logo.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="author" content="Niko Roel A. Borbe" />
	<meta name="description" content="A wiki dedicated for the STEM fields" />
	<meta name="keywords" content="Stempedia Wiki STEM Wikipedia " />
</head>
<body>
	<slot/>
</body>

</html>

<style is:global>
	body {
		background-color: HSL(57, 96%, 91%);
		color: black;
	}
</style>
